body {
  min-height: 100%;
  width: 100%;
  align-items: center;
  background-image: url('../../images/home_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-page-container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: space-evenly;
  align-items: center;
  background-color:rgb(255, 233, 181);
  padding: 20px;

}

.auth-form-container{
    max-height: 800px;
    max-width: 500px;
    height: 90%;
    width: 90%;
}

.auth-page-container h1 {
  text-align: center;
  font-size: 5em;
}

.options-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .options-row {
    flex-direction: column;
    margin-top: 0;
  }

  .options-row button{
    margin: 10px 0;
  }
}
